@{
    Layout = "_FrontOfficeLayout";
}

<div>
    <h1>I tuoi commenti</h1>

    <input type="text" class="js_search my-4 w-100" onkeyup="filterPizzas()" />

    <div class="js_cards row row-cols-5">

    </div>
</div>
